.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #000;
  color: white;
  padding: 20px;
}

.footer-divs {
  flex: 1;
  margin: 0 20px;
  min-width: 150px;
}

.footer h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer p,
.footer h3 {
  margin: 5px 0;
}












/* Responsive */


/* (max-width: 768px) */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-divs {
    margin-bottom: 20px;
  }
}

/* (max-width: 480px) */
@media (max-width: 480px) {
  .footer {
    padding: 15px;
  }

  .footer-divs {
    margin: 10px 0;
  }

  .footer h1 {
    font-size: 1.3em;
  }

  .footer h3 {
    font-size: 1.3em;
  }

  .footer p {
    font-size: 0.9em;
  }
}

/* (max-width: 360px) */
@media (max-width: 360px) {
  .footer {
    padding: 10px;
  }

  .footer h1 {
    font-size: 1.2em;
  }

  .footer h3 {
    font-size: 1.2em;
  }

  .footer p {
    font-size: 0.8em;
  }
}